body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 500;
    color: #20b2aa;
    margin-left: 2.5rem;
    background-color: #faf0e6;
}

h1 {
    text-align: center;
    margin-bottom: 0.05rem;
}

.description {
    text-align: center;
    font-style: italic;
}

p {
    font-weight: bold;
}

.input {
    background-color: #d3d3d3;
}

.radio,
.checkbox {
    display: inline-block;
    margin-right: 0.5rem;
}

.textarea {
    min-height: 75px;
    width: 75%;
}

button {
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
}

button:hover {
    background-color: #778899;
}